################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CardGameDemo2/.vs/CardGameDemo/FileContentIndex/4bff2117-3ea4-47e5-b920-5539d3d45fcf.vsidx
